@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar-link-gradient {
  background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.06) 100%);

}

.rhap_container {
  background-color: #15171C;
}

.rhap_time {
  color: #fff !important;
}

.rhap_total-time {
color: #fff !important;
}